
.section-hero {
max-width: 1440px;
text-align: center;
margin-left: auto;
margin-right: auto;
background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.hero-title {
	margin-left: auto;
	margin-right: auto;
	font-weight: 700;
	color: $white-color;

}

.hero-button {
	display: inline-block;
	max-width: 170px;
	padding: 16px 32px;
	background-color: $accent-color;
	color: $white-color;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
	border-radius: 4px;
	border: transparent;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
		border-radius: 4px;
		background-color: $button-active-color;
	}
}

@media screen and (max-width: 767px) {
	.section-hero {
		padding: 112px 0;
		height: 432px;
		background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
				url("../images/hero/hero-mobile.jpg");
		}
	.hero-button {
	margin-top: 72px;
}
		@media (min-device-pixel-ratio: 2),
		(min-resolution: 192dpi),
		(min-resolution: 2dppx) {
	.section-hero {
		background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
		url("../images/hero/hero-mobile@2x.jpg");
	
			}
		}

	.hero-title {
		max-width: 318px;
		font-size: 36px;
		line-height: 1.11;
		color: $white-color;
		}
	
}

@media screen and (min-width: 768px) {
.section-hero {
height: 436px;
padding: 112px 0 108px;
background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
url("../images/hero/hero-tablet.jpg");
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
.section-hero {
background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
url("../images/hero/hero-tablet@2x.jpg");
}
}
.hero-title {
	margin-bottom: 40px;
	margin-top: 0;
	width: 494px;
	font-size: 56px;
	line-height: 1.07;
}

	}

@media screen and (min-width: 1200px) {
.section-hero {
		padding: 188px 0;
		height: 600px;
		background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
			url("../images/hero/hero-desctop.jpg");
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
	.section-hero {
		background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
	url("../images/hero/hero-desctop@2x.jpg");
	}
}
}


