$primary-text-color: #434455;
$title-text-color: #2E2F42;
$accent-color: #4D5AE5;
$primary-background-color: #E5E5E5;
$secondary-background-color: #F4F4FD;
$white-color: #FFFFFF;
$secondary-accent-color:#E7E9FC;
$button-active-color: #404BBF;
$brand-icon-color: #8E8F99;
$footer-icon-hover:#31D0AA;
$modal-window-color:#FCFCFC;
$form-text-color: #757575;